SOURCE_BASE_URL=https://infotech-your-source.atlassian.net
SOURCE_EMAIL=shivam.kushwaha@infotech.works
SOURCE_TOKEN=ATATT3xFfGF0fYKXIgrWm6TjlDXfhF2qltxO1cxho9NFZCSkAfwrAPNw7tLy7FB4C5ykcFSoTvyKfSxjdeVhkqTRbA0inTjRr_Ifmvwf7mQLk9IycPmJhT5OyQktbuYRf7xWkbHLvMd5xgjDflvkacRoCk9R2xucRb18OU9Yb0U35YMdjxzUqY8=3D62AF11

TARGET_BASE_URL=https://your-target.atlassian.net
TARGET_EMAIL=shivam@bigkittylabs.com
TARGET_TOKEN=ATATT3xFfGF0gsViL1DFvsi9iUo-i4YtJBdh2o_8y8filoNmCz36tdE1HkvzV8ezd_k8WoTzoflqAwQlp_PHshTxLRECGePeeU4-BUBfmlp4WRm4mFoaEHLj8QfzcAfgc_00X_qubV_rityaXf31a4iuVby47dsv8zUZPmThnIB_WyZf0kJ0k04=B98CA45C
